<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home|Cars</title>
</head>

<body>
    
    <h1>Car Inventory Server</h1>
<ul>
   <li> <a href="/cars">View Inventory</a></li>
    <li><a href="/cars/new">Add New</a></li>
</ul>
</body>

</html>