<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
</head>
<nav>
    <a href="/">Home</a>
    <a href="/cars">Cars</a>
    <a href="/cars/new">Add a Car</a>
</nav>

<body>
    <form action="/cars" method="POST">

        Make: <input type="text" name="make" placeholder="add make" />
        Model: <input type="text" name="model" placeholder="add model" />
        Year: <input type="number" name="year" placeholder="add year" />

        <input type="submit" value="Add Car">

    </form>

</body>

</html>