<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href ="/"> Home </a>
    <a href ="/cars"> Inventory</a>
    <h1> Cars Show Page</h1>
    <h4><%= car.year %> <%= car.make %> - <%= car.model %></h4>

</body>
</html>